.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}
h3{
    text-align: center;
    color: #333;
}
#results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.word-entry {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.word-entry h3 {
    color: #333;
    margin-top: 0;
}

.word-entry p {
    color: #777;
}
